DESIGN my_chip ;
GRID 1 ;
AREA 4000 3000 ;

# --- CORNERS --- #
CORNER corner_sw SW sg13g2_Corner ;
CORNER corner_se SE sg13g2_Corner ;
CORNER corner_nw NW sg13g2_Corner ;
CORNER corner_ne NE sg13g2_Corner ;

# --- PADS --- #
# Using 4mA InOut for GPIOs.
# Using IOVdd/IOVss for the Ring Power.

# Bottom (South)
PAD vss_0     S  sg13g2_IOPadIOVss ;
PAD gpio_0    S  sg13g2_IOPadInOut4mA ;
PAD vdd_0     S  sg13g2_IOPadIOVdd ;

# Top (North) #
PAD vss_1     N  sg13g2_IOPadIOVss ;
PAD gpio_1    N  sg13g2_IOPadInOut4mA ;
PAD vdd_1     N  sg13g2_IOPadIOVdd ;

# Left (West) #
PAD vss_2     W  sg13g2_IOPadIOVss;
PAD gpio_2    W  sg13g2_IOPadInOut4mA ;
PAD vdd_2     W  sg13g2_IOPadIOVdd;

# Right (East) #
PAD vss_3     E  sg13g2_IOPadIOVss;
PAD gpio_3    E  sg13g2_IOPadInOut4mA ;
PAD vdd_3     E  sg13g2_IOPadIOVdd;
